body{
  background-color:#F08080;  
}

.fundo_diferente{
  background-image: linear-gradient(to right, #F08080 , #fff);
}

.img_topo{
  width: 100%;
}

.img_corpo{
  width: 50%;
}

figure{
    text-align: center;
}

.container{
  width: 80%;
  margin: auto;
}

h1{
  text-align: center;
  color: #fff;
}

p{
  font-size: 1.4em;
  color: #fff;
  text-align: justify;
  text-indent: 40px;
}

.parag_letras > p{

  font-size: 1em;
}

.pinta_botao{
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to right, #F08080 , #fff);
  margin: auto;            
}
.botao{
  padding-top: 15px;
  
}